//Screens
$desktop-xl: 1920px;
$desktop-xs: 1600px;
$desktop-l: 1600px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 430px;

//font color
$c-text: #fff;

//Fonts
$fontRubik: "Rubik", sans-serif;

//Colors
$bg-color: rgb(255, 182, 193);
$main-color: rgb(255, 105, 180);
$white: rgb(255, 255, 255);
$half-white: rgb(255, 255, 255, 0.6);

//Shadows
$shadow_xs: 0px 0px 15px rgba(0, 0, 0, 0.05);
$shadow_s: 0px 0px 20px rgba(0, 0, 0, 0.1);
$shadow_m: 0px 0px 20px rgba(0, 0, 0, 0.15);

@function get-vw($target) {
  $vw-context: calc((1600 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-vw-num($target) {
  $vw-context: calc((1600 * 0.01));
  @return calc(($target / $vw-context));
}

@function get-vw-td($target) {
  $vw-context: calc((1024 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-vw-m($target) {
  $vw-context: calc((768 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-vw-ms($target) {
  $vw-context: calc((430 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-d($target) {
  $vw-context: calc((1600 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-ds($target) {
  $vw-context: calc((1440 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-tl($target) {
  $vw-context: calc((1024 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-t($target) {
  $vw-context: calc((768 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}

@function get-m($target) {
  $vw-context: calc((430 * 0.01) * 1px);
  @return calc(($target / $vw-context) * 1vw);
}
