.home_hero {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home_hero_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
}

.home_hero_info_title {
  padding: 20px;

  font-weight: 700;
  font-size: 42px;

  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home_hero_img {
  display: flex;
  flex: 1 0 0;
  width: 40%;
  object-fit: cover;

  border-radius: 20px;
}

.home_section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home_section_title {
  display: flex;
  justify-content: center;
}

.home_section_title_inner {
  margin-top: 50px;
  padding: 20px 30px;

  font-weight: 700;
  font-size: 32px;
  text-align: center;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home_prospects {
  display: flex;
  gap: 20px;
}

.home_prospects_item {
  display: flex;
  flex: 1 0 0;
  height: min-content;
  flex-direction: column;
  gap: 30px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home_prospects_item_title {
  padding: 20px 20px;

  font-weight: 700;
  font-size: 18px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.home_prospects_item_prospects {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.home_prospects_item_prospects_item {
  position: relative;
  padding-left: 25px;

  font-weight: 500;
  font-size: 18px;
}

.home_prospects_item_prospects_item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 15px;
  height: 15px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  border-radius: 100%;
}

@media (max-width: 990px) {
  .home_hero {
    flex-wrap: wrap;
  }

  .home_prospects {
    flex-wrap: wrap;
  }

  .home_prospects_item {
    width: 100%;
    flex: auto;
  }

  .home_section_title_inner {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
  .home_hero_info_title {
    padding: 15px;

    font-size: 18px;
    text-align: center;
  }

  .home_hero_info_des {
    font-size: 14px;
  }

  .home_section_title_inner {
    font-size: 20px;
  }

  .home_prospects_item_title {
    font-size: 18px;
  }

  .home_prospects_item_prospects_item {
    font-size: 16px;
  }
}
