.Loading {
  display: flex;
  justify-content: center;

  & svg {
    height: 40px;
    width: auto;

    animation: loop 2s infinite;
  }
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
