.Slider {
  display: flex;
  gap: get-d(30px);
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    #fff 20%,
    #fff 80%,
    transparent 100%
  );

  // will-change: transform;

  &.row {
    flex-direction: column;

    width: 100%;
  }

  &.col {
  }
}
